#{extends 'main.html' /}
#{set title:'Programas' /}

<style>
	
	label{
	
		margin-top: 20px;
		
	}
	
</style>

#{encabezado titulo:'Administración de Programas de Maestría'/}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well">

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<br />
		
		#{programasExistentes /}
	
	</div>
	
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
	
		<form action="@{Programas.guardar}" enctype="multipart/form-data" method="POST">
		
			<label for="">Nombre del programa:</label>
			<input type="text" class="form-control" name="nombre" id="nombre"/>
			
			<label for="">Objetivo: </label>
			<textarea name="objetivo" id="objetivo" cols="30" rows="4" class="form-control"></textarea>
			
			<label for="">Perfil ocupacional: </label>
			<textarea name="perfilOcupacional" id="perfilOcupacional" cols="30" rows="4" class="form-control"></textarea>
			
			<label for="">Título que otorga: </label>
			<input type="text" class="form-control" name="tituloOtorga" id="tituloOtorga"/>
			
			<label for="">Forma de Pago: </label>
			<textarea name="formaPago" id="formaPago" cols="30" rows="4" class="form-control"></textarea>
			
			
			<label for="">Líneas de Investigación: </label>
			<textarea name="lineasInvestigacion" id="lineasInvestigacion" cols="30" rows="4" class="form-control"></textarea>
			
			<label for="">Horario: </label>
			<textarea name="horario" id="horario" cols="30" rows="4" class="form-control"></textarea>
			
			<label for="">Estado:</label><br />	
			<textarea name="estado" id="estado" cols="30" rows="4" class="form-control"></textarea>	
			
			<label for="">Malla:</label>
			<input type="file" class="form-control" name="malla" id="malla" />
			
			<br />
			<b> ¿Desea activar este programa para nuevas postulaciones? </b> <input type="checkbox" name="activo"> <br /><br />
			
			<button class="btn btn-primary btn-block" type="submit"> <b> <i class="fa fa-save"> </i>  Guardar Programa </b></button>
		
		</form>
	
	
	</div>

	
</div>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />