#{extends 'main.html' /}
#{set title:'Login' /}


#{encabezado titulo:'Inicio de Sesión' /}

<br />

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
	
		<div class="panel">
		<img alt="" src="@{'/public/images/formato.png'}" class="img-responsive img-rounded">

			<div class="panel-body">
				#{form @authenticate()}
					#{if flash.clave}
						<p class="bg-danger">&{flash.clave}</p>
					#{/if}
					#{if flash.usuario}
						<p class="bg-danger">&{flash.usuario}</p>
					#{/if}
    				#{if flash.success}
						<p class="bg-success">&{flash.success}</p>
					#{/if}
					#{if flash.inactivo}
						<p class="bg-success">&{flash.inactivo}</p>
					#{/if}
					<div class="form-group">						
						<label for="">Para Usuarios Registrados:</label>
						<a href="" class="pull-right">¿Olvidó su Contraseña?</a>
					</div> 	
					<div style="margin-top:-10px;"><br /></div>				
					<div class="form-group">
						<div class="input-group">
							  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			                  <input type="email" class="form-control input-sm" name="username" value="${flash.username}" placeholder="Ingrese su e-mail" required>
		                 </div> 
					</div>
					<div class="form-group">
						<div class="input-group">
							  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			                  <input type="password" class="form-control input-sm" name="password"  placeholder="Ingrese su contraseña" required>
		                 </div> 
					</div>
					
					<div class="form-group">
						<button class="btn btn-primary form-control " type="submit"> <span class="glyphicon glyphicon-log-in">&nbsp;</span>Ingresar</button>
					</div>
					
					<div style="margin-bottom: 10px; text-align: justify;" >
						<span class="pull-right">Si aún no tiene una cuenta debe <b><a href="@{Security.registro}" style="text-decoration: underline;">Registrarse!</a></b></span><br />
					</div>
					
				#{/form}
			</div><!-- panel-body -->
		</div><!-- panel -->
	</div> <!-- col-lg-6 -->
</div><!-- row -->