#{extends 'main.html' /}
#{set title:'Noticias' /}

#{encabezado titulo:'Administración de Noticias' /}


<br />

<script language="javascript">
	$(document).ready(function (){
		function mostrarImagen(input) {
			 if (input.files && input.files[0]) {
			  var reader = new FileReader();
			  reader.onload = function (e) {
			   $('#img_destino').attr('src', e.target.result);
			  }
			  reader.readAsDataURL(input.files[0]);
			 }
			}
			 
			$("#imagen").change(function(){
			 mostrarImagen(this);
			});
	});
</script>


	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8"> 
		
			<form class="form-horizontal well" action="@{Noticias.guardar}" method="POST" enctype="multipart/form-data">
				<fieldset>
				
				<!-- Form Name -->
				<legend><b>Nueva Noticia</b></legend>
		
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-3 control-label" for="titulo">Título:</label>  
				  <div class="col-md-8">
				  <input id="titulo" name="titulo" type="text" placeholder="Ingrese el título de la noticia." class="form-control input-md" required="">
				    
				  </div>
				</div>
				
				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-3 control-label" for="Contenido:">Contenido:</label>
				  <div class="col-md-8">                     
				    <textarea class="form-control" required="required" id="Contenido:" name="contenido" rows="10" placeholder="Describa la noticia."></textarea>
				  </div>
				</div>
				
				<!-- Imagen-->
				<div class="form-group">
				  <label class="col-md-3 control-label" for="Contenido:">Imagen:</label>
				  
				  
				  
				  <div class="col-md-7"> 
					  <input type="file" required="required" name="imagen" class="form-control" style="margin-bottom: 10px;" id="imagen"/>				  
				  </div>
				  
				  <div class="col-md-1"> 
				  	<div class="pull-right">
				 		 <img height=50px" width="50px;" alt="" id="img_destino"/>          
				 	 </div>      				    
				  </div>
				  
				</div>
				
								
				<button class="btn btn-primary btn-block" type="submit"> Publicar </button>
				
				</fieldset>
			</form>
		
		</div>
		<div class="col-lg-2"></div>
	</div>
