body{
	background-image: url('/public/images/fondo2.png');
}

.entrada{
	margin-bottom: 20px;
}


/*Mensaje de error de las validaciones*/
label.error { 		
		float: none; 
		color: red; 
		padding-left: .5em; 
		vertical-align: middle; 
		font-size: 12px;
		margin-top:5px;
	 }

input.error, select.error{
	border-color:red;
	color: red;
	
}

.navbar{
	height: 51px;
}

.encabezado{
	background-color: #394979; 
	margin-top: 11px;
	color:white;
	font-family: sans-serif;
}

.encabezado2{
	background-color: #ED1C24;
	height: 3px;
}


.pie{
	background-color: #222222;
	color: white;
	
}






