#{extends 'main.html' /}
#{set title:'Estudios' /}

#{encabezado titulo:'Datos Profesionales' /}

#{menuPostulaciones opcion:'datosProfesionales'/}

  <div class="panel">
	  
					 
					 <!-- 
						<div class="panel-heading">
							<div class="panel-tittle"><b>Estudios Superiores</b></div>
						</div>
			 		-->
						
							<div class="panel-body" >
							       
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Título de Tercer Nivel: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="titulo" id="titulo" class="form-control" placeholder="Ej: Ingeniero en Sistemas.">
		
                                 </div>			
							
							</div>
							<br>
							<br>

							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Nombre de la Universidad: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="universidad" id="universidad" class="form-control" placeholder="Ej: Universidad Técnica de Cotopaxi.">
                                 </div>			
							</div>
							<br>
							<br>
							
					
							  <div class="form-group">
                             	 <label for="" class="col-md-5 control-label text-right">País de la Universidad: </label>
                               
                                 <div class="col-md-5">
                                    	<select id="pais" name="pais" class="form-control selectpicker" >
                                    		<option value="">-- seleccione --</option>
                                    		#{list items:listaPaises, as:'pais'}
                                    		<option value="${pais}">${pais}</option>
                                    		#{/list}
										</select>
		
                                 </div>		
                                     
                             </div>				
								<br>
							    <br>
							    <br>
							    
							<div class="form-group">
								 <label for="" class="col-md-5 control-label text-right" id="msj1">Provincia de la Universidad: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="provincia" id="provincia" class="form-control" placeholder="Ej: Cotopaxi.">
                                 </div>			
							</div>
							<br>
							<br>
							
							<div class="form-group">
								 <label for="" class="col-md-5 control-label text-right" id="msj1">Ciudad de la Universidad: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="ciudad" id="ciudad" class="form-control" placeholder="Ej: Latacunga.">
                                 </div>			
							</div>
							<br>
							<br>
							<div class="form-group">
								 
                                 <div class="col-md-12">
                                    	 <button type="submit" class="form-control btn btn-primary"><b>GUARDAR</b></button>
                                 </div>			
							</div>
							<br>
							<br>
						 	
						 </div>	<!--panel body  -->
					 
					 </div><!--panel info  -->