#{extends 'main.html' /}
#{set title:'Documentación' /}




#{encabezado titulo:'Documentación Requerida' /}
#{menuPostulaciones opcion:'documentacion'/}


 <div class="panel panel">		
						
							<div class="panel-body" >
							       
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Seleccione la Maestría: </label>
                                 <div class="col-md-7">
                                    	 <select id="maestria" name="maestria" class="form-control selectpicker">
                                    	 	<option value="">-- seleccione --</option>
                                    		<option value="Maestría en Planeamiento y Gestión Educativa" >Maestría en Planeamiento y Gestión Educativa</option>
                                    		<option value="Maestría en Gestión de Energías" >Maestría en Gestión de Energías</option>
                                    		<option value="Maestría en Gestión de la Producción" >Maestría en Gestión de la Producción</option>
										</select>
		
                                 </div>			
							
							</div>
							<br>
							<br>
							
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Recibo de Pago de Inscripción Efectuado en la Tesorería <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf): </span></label>
                                 <div class="col-md-7">
                                 			&nbsp;
                                    	 <input  type="file" name="recibo" id="recibo" class="btn btn-default btn-file"  accept=".jpeg,.jpg,.pdf,.png">
                                    	
                                 </div>	
							</div>
							<br><br>
							<br> <br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right">Curriculum <span class="formato-archivo"> (Máximo 2 Hojas en formato pdf): </span> </label>
                                 <div class="col-md-7">
                                 		
                                    	 <input  type="file" name="curriculum" id="curriculum" class="btn btn-default btn-file"  accept=".pdf" >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" >Copia de la Cédula <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf): </span></label>
                                 <div class="col-md-7">
                                 		
                                    	 <input  type="file" name="cedula" id="cedula"  class="btn btn-default btn-file"  accept=".jpeg,.jpg,.pdf,.png">
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" >Copia del Certificado de Votación <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf ): </span></label>
                                 <div class="col-md-7">
                                 
                                    	 <input  type="file" name="votacion" id="votacion" class="btn btn-default btn-file"  accept=".jpeg,.jpg,.pdf,.png" >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia del Título de Tercer Nivel <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf): </span></label>
                                 <div class="col-md-7">
                                    	 <input  type="file" name="titulo" id="titulo" class="btn btn-default btn-file"  accept=".jpeg,.jpg,.pdf,.png">
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							
								
								
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" >Copia del Registro del Título de Tercer Nivel de la SENESCYT <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf):</span> </label>
                                 <div class="col-md-7">
                                 		<br>
                                    	 <input  type="file" name="registro" id="registro" class="btn btn-default btn-file"  accept=".jpeg,.pdf,.jpg,.png" >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" >Copia del Certificado de la Suficiencia del idioma Extranjero <span class="formato-archivo"> (Escaneado en formato  jpg, png o pdf): </span> </label>
                                 <div class="col-md-7">
                                 		<br>
                                    	 <input  type="file" name="suficiencia" id="suficiencia" class="btn btn-default btn-file"  accept=".jpeg,.jpg,.pdf,.png">
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<br>
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia de Artículos Publicados en Revistas Indexadas <span class="formato-archivo"> ( Si lo Tuviere Escaneado en formato  pdf): </span></label>
                                 <div class="col-md-7">
                                 		<br><br>
                                    	 <input  type="file" name="articulos" id="articulos" class="btn btn-default btn-file"  accept=".pdf">
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<br>
							
					
				
							<div class="form-group">
								 
                                 <div class="col-md-12">
                                 		<br>
                                    	 <button type="submit" class="form-control btn btn-primary"><b>GUARDAR</b></button>
                                 </div>			
							</div>
							<br>
							<br>
						 	
						 </div>	<!--panel body  -->
					 
					 </div><!--panel info  -->