#{extends 'main.html' /}
#{set title:'Postulaciones' /}


#{encabezado titulo:'Postulaciones' /}

#{menuPostulaciones opcion:'index'/}
	

<div class="well">							
	<div class="panel-body"> 	
					
			<a href="@{'/public/images/carousel/UTCNOCHE.jpg'}"  class="col-lg-5 col-md-5 col-sm-6 col-xs-12"><img src="@{'/public/images/carousel/UTCNOCHE.jpg'}"  class="img-responsive" style="margin-top: 15px;" /></a>
			 
			<p class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
			
				<div class="hidden-xs">
					<h4> <b> Información General</b></h4>
				</div>
			 	
			 	
			 	<div class="visible-xs text-center">
					<h4> <b> Información General</b></h4>
				</div>
	
			 	<p class="text-justify">
			 	
					La Dirección de Posgrados de la Universidad Técnica de Cotopaxi dispone de
					un Manual de Procesos para la Admisión de postulantes 
					a diferentes programas de maestría aprobado por El Consejo de Educación Superior,
					razón por la que con el presente Reglamento busca promover y aplicar procesos sistemáticos, 
					democráticos y equitativos de ingreso de maestrantes que desean continuar con sus estudios de cuarto nivel,
					se tomará en cuenta el perfil profesional de acuerdo a los programas vigentes.

				  </p>
				 
				  
			</p><!-- col-lg-8-->	
			 <a href="@{Postulaciones.datosPersonales}" class="btn btn-primary pull-right"> <i class="glyphicon glyphicon-play-circle"> </i> <b> Iniciar Postulación </b></a>
				
					  
	</div><!-- panel-bosy-->

</div><!-- well -->
