
<div class="encabezado">
	<div class="container">
		<div class="hidden-xs">
			<h3>${_titulo}</h3>
		</div>		
		<div class="visible-xs">
			<center><h4>${_titulo}</h4></center>
		</div>
		
	</div>
</div>
<div class="encabezado2">

</div>


