	
<style>
	
	.btn{
		color: white;
	}

</style>

<div class="pull-center" style="background-color: red;">
  <a href="@{Usuarios.administracionPersonal}" data-content="Administración de Usuarios" data-toggle="popover" class="btn"><i class="fa fa-users"></i></a>
  <a href="@{Noticias.index}" class="btn" data-content="Administración de Noticias" data-toggle="popover" ><i class="fa fa-file"></i></a>
  					   			  			
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ trigger: "hover" }); 
});
</script>

