

	<div class="col-lg-12 well">	
			<ul class="nav nav-tabs">
			  <li class="index"><a href="@{Postulaciones.index}" data-placement="bottom" data-content="Información" data-toggle="popover"> <i class="glyphicon glyphicon-info-sign"></i> </a></li>
			  <li class="datosPersonales"><a href="@{Postulaciones.datosPersonales}" data-placement="bottom" data-content="Datos Personales" data-toggle="popover"> <i class="fa fa-user"></i> </a></li>
			  <li class="datosProfesionales"><a href="@{Postulaciones.datosProfesionales}" data-placement="bottom" data-content="Datos Profesionales" data-toggle="popover"> <i class="fa fa-book"></i> </a></li>
			   <li class="datosLaborales"><a href="@{Postulaciones.datosLaborales}" data-placement="bottom" data-content="Datos Laborales" data-toggle="popover"> <i class="glyphicon glyphicon-asterisk"></i> </a></li>			 
			  <li class="documentacion"><a href="@{Postulaciones.documentacion}" data-placement="bottom" data-content="Documentación Requerida" data-toggle="popover"> <i class="fa fa-folder"></i> </a></li>
			</ul>

	</div>

	<div class="visible-lg">
		<!-- separando el panel del menu -->
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
	
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ trigger: "hover" }); 
    
	//Para activar la opcion del menu, el valor de la variable opcion se envia al llamar al tag
 	$('.'+'${_opcion}').addClass('active'); 		
 	
    
    
});
</script>