

<!-- Area de Noticias -->
<h4>Noticias</h4>
<div id="slider2" style="background-color: #999;">
	         <div class="thumbelina-but horiz left">  <i class="fa fa-chevron-left"> </i> </div>
	         <ul style="margin-left: 35px; margin-top: 5px;">
	           
		           #{if models.Noticia.findAll()}	
		           
					 #{list items:models.Noticia.find("order by fecha desc").fetch(), as:'noticia'}
						<li >			
													
							<a href="@{Application.noticia(noticia.id)}"  >
								<div class="panel">
									 <div class="panel-heading titulo-noticia" >
									 	<div class="panel-title">									 		 
								    		 <h6 style="margin: 0px"> <b>${noticia.titulo}</b></h6>
								    	</div>
									  </div>
								  
									<div class="panel-body text-center">
										<img src="@{Application.verImagenNoticias(noticia.id)}" height="75px" width="200px;">
									</div>
									
								</div><!-- panel -->
							</a>
							
						
			           </li>
			          
			           #{/list}
				#{/ if}
				
				#{else}
					<li> <h4>No hay Noticias</h4></li>
				#{/else}	
	           
	           
	            <li>
	           		<div style="width: 200px; height: 50px;" >
	           		
	           		</div>
	           </li>
	         </ul>
	         <div class="thumbelina-but horiz right"> <i class="fa fa-chevron-right"> </i> </div>
</div><!-- slider -->

<!-- FIN Area de Noticias -->



<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>


	
<script>

$('#slider2').Thumbelina({
    $bwdBut:$('#slider2 .left'),    // Selector to left button.
    $fwdBut:$('#slider2 .right')    // Selector to right button.
});





</script>


<style>

	  #slider2 {
                position:relative;                               
                height:160px;
                width: auto;                
            }

</style>

<style>

.titulo-noticia {
	background-color: red;	
	text-align: center;
	color: white;
}



.panel:HOVER {
	box-shadow: 0px 0px 8px 2px red;
	
}

a:HOVER{
	text-decoration: none;
}


</style>