

<div class="list-group">	
	<center><b class="list-group-item">PROGRAMAS EXISTENTES</b></center>
	
	#{if models.Programa.findAll()}	
		#{list items:models.Programa.findAll(), as:'programa'}	
 		<a class="list-group-item text-justify"> ${programa.nombre} </a>
 		#{/list }
 	#{/if}
 	#{else}
 	 	<span class="list-group-item text-justify">Aún no se ha registrado ningun programa.</span>
 	#{/else}
</div>