#{extends 'main.html' /}
#{set title:'errorPermisos.html' /}


#{encabezado titulo:' Error de Permisos' /}

<br />

<div >
	<center>
		<img src="@{'/public/images/errorPermisos.png'}" class="img-responsive"></img>
	</center>
</div>