#{extends 'main.html' /}
#{set title:'Registro de Usuarios' /}


#{encabezado titulo:'Registro de Usuarios' /}

<br />

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">	
		<div class="panel">
		<img alt="" src="@{'/public/images/formatoRegistro.png'}" class="img-responsive img-rounded">

			<div class="panel-body">
				<form class="form" role="form" action="@{Security.guardarPostulante}" id="formRegistro">
					<div class="form-group">
						<label for="">Para Nuevos Usuarios:</label>
						<a href="/secure/login" class="pull-right">¿Ya tiene Cuenta?</a>
					</div> 					
					<div class="form-group">
						  <span class="col-lg-3" style="text-align: right;">Nombres:</span>
						  <div class="col-lg-9">
		                  	<input type="text" class="form-control input-sm entrada" name="nombre" value="${flash.nombre}" placeholder="Ingrese sus nombres" required>
		                  </div>		                 
					</div>
					
					<div class="form-group">						
						<span class="col-lg-3"  style="text-align: right;">Apellidos:</span>
						  <div class="col-lg-9">
		                  	<input type="text" class="form-control input-sm entrada" name="apellido" value="${flash.apellido}" placeholder="Ingrese sus apellidos" required>
		                  </div>
					</div>
					
					<div class="form-group">			
						 <span class="col-lg-3"  style="text-align: right;">Email:</span>
						  <div class="col-lg-9">						  	
		                  	<input type="email" class="form-control input-sm entrada" name="email" id="email" value="${flash.email}" placeholder="Ingrese su dirección de email" required>
		                  </div>
					</div>
					
					<div class="form-group">				
						<span class="col-lg-3"  style="text-align: right;">Contraseña:</span>
						  <div class="col-lg-9">
		                  	<input type="password" class="form-control input-sm entrada" name="password"  placeholder="Ingrese su contraseña" required>
		                  </div>
					</div>
					<div class="form-group">						
						<span class="col-lg-3"  style="text-align: right;">Repita la Contraseña:</span>
						  <div class="col-lg-9">
		                  	<input type="password" class="form-control input-sm entrada" name="confirm_password"  placeholder="Repita su contraseña" required>
		                  </div>
					</div>
					
					<div class="form-group">
						<button class="btn btn-primary form-control" type="submit"> <span class="glyphicon glyphicon-saved">&nbsp;</span>Crear Cuenta</button>
					</div>
				</form>
			</div><!-- panel-body -->
		</div><!-- panel -->
	</div> <!-- col-lg-6 -->
</div><!-- row -->




<script>

	$(document).ready(function(){
		//validando el formulario de registro
		$("#formRegistro").validate({
			
			rules: {
				apellido:{
					required: true,
					lettersonly: true
					},
				nombre:{					
					required: true,
					lettersonly: true
					},
				email: {
						required: true,
						email: true,
				      	remote: {
					        url: "@{Security.verificarEmailNuevo}",
					        type: "post",
					        data: {
						          email: function() {						        	  
						            return $("#email").val();
					              }
						        }
				      		}
						},
				password:{
					required:true,
					minlength:6
				},	
				confirm_password:{
					required:true,
					equalTo: "#password"
				}	
				
			},	
		
			messages: {
				
				apellido: {
					required: "Ingrese los apellidos.",
					lettersonly: "Este campo solo acepta letras"
			
				},
				
				nombre:{
					required: "Ingrese los nombres.",	
					lettersonly: "Este campo solo acepta letras"
				},
				
				email: {
					required: "Ingrese el email.",	
					email:"Ingrese una dirección de email valida.",
					remote:"Está dirección de email ya está en uso."
					
				},
				password:{
					required:"Ingrese una contraseña.",
					minlength: "La contraseña debe tener mínimo 6 caracteres."					
				},	
				confirm_password:{
					required:"Repita la contraseña.",
					equalTo: "Las contraseñas no coinciden."
				}
			}
				
		});
		
		
	});


</script>





<style>

	label.error { 		
		margin-top:-20px;
	 }

</style>