#{extends 'main.html' /} 
#{set title:'panelAdministracion.html' /}


<script type="text/javascript">

$(document).ready(function(){
	
	
	buscarPersonal("");
	
	
	/*
	$("#buscar").click(function(){
		var cad=$("#cadenaBusqueda").val();
		
		if(cad!=""){
		buscarPersonal(cad);
		}	 
	});
	*/

	$("#cadenaBusqueda").keyup(function(){
		var cad=$("#cadenaBusqueda").val();
		
		buscarPersonal(cad);
			 
	});
	
	
	function buscarPersonal(cad){
		
		  var busquedaAction = #{jsAction @Usuarios.buscarPersonal(':cadena') /}
		   
		   $('#listado').load(busquedaAction({cadena: cad}));
	}
});
</script>

#{encabezado titulo:'Administración de Usuarios'/}

<br />


	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				
				<!-- 
				<img src="@{'/public/images/formatoAdministracionUsuario.png'}" class="img-responsive btn-block"/>
				 -->
				<br>		
				<div class="table-responsive">
					
				<div class="well">
					
					
					<div class="col-lg-12">
						<div class="input-group">
							
				            <input type="text" class="form-control" placeholder="Buscar" name="cadenaBusqueda" id="cadenaBusqueda" required>			            
				            <div class="input-group-btn">
				                <button class="btn btn-default" type="button" id="buscar"><i class="glyphicon glyphicon-search"></i></button>
				            </div>
				        </div>
				    </div>
				    <div class="visible-lg">
				    	<br /><br />
				    </div>
				</div>
					
						
					<div id="listado">
					
					
					</div>
						
				</div>
					
			</div>
	
		</div>
	
	</div>


<script>

	$(document).ready(function(){
		
		#{if flash.confirmacionActualizacion}
			swal("Confirmación", "Datos actualizados exitosamente!", "success");
		#{/if}
		
		#{if flash.confirmacionGuardado}
			swal("Confirmación", "Usuario guardado exitosamente, recuerde que esta cuenta debe ser activada desde el correo: ${flash.confirmacionGuardado}", "success");
		#{/if}
		
		#{if flash.confirmacionEliminacion}
			swal("Confirmación", "Usuario borrado exitosamente!", "success");
		#{/if}
		
			
	});
</script>