

		<a href="" class="btn btn-primary pull-right"  data-toggle="modal" data-target="#nuevoPersonal" onclick="cargarRoles();">Nuevo Usuario </a><br /><br />
		#{if usuarios}
				<table class="table table-stripped table-bordered">
					 <tr>
						<th>Nº</th>
						<th>Apellidos</th>
						<th>Nombres</th>
						<th>Email</th>						
						<th>Rol</th>
						<th>Estado</th>	
						<th colspan="3">Opciones</th>					
					</tr>
					
					
					
						%{int i=1;}%
						#{list items:usuarios, as:'usuario'}
							
								<tr>
									<input type="hidden" value="${usuario.id}" name="idUsuario" />
									<td>${i}</td>
									<td>${usuario.apellido}</td>
									<td>${usuario.nombre}</td>
									<td>${usuario.email}</td>						
									<td>${usuario.rol.descripcion}</td>
	
									#{if usuario.activo}
									<td> Activo </td>
									#{/if}
									#{else}
									<td> Inactivo</td>
									#{/else}
									
									 
									#{if usuario.rol.descripcion!='administrador'}
										<td class="text-center"><button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#editarPersonal" id="${usuario.id}" onclick="pasarDatos(this)"><i class="fa fa-pencil"></i></button></td>								
										<td class="text-center"><a class="btn btn-warning btn-block" onclick="return confirm('¿Está seguro que desea reestablecer la contraseña de este usuario?');" href="@{Usuarios.resetearPasswordPersonal(usuario.id)}"><i class="fa fa-refresh"></i></a></td>	
										<td class="text-center"><a href="@{Usuarios.eliminarPersonal(usuario.id)}" class="btn btn-danger btn-block" onclick="return confirm('¿Está seguro que desea eliminar los datos de este usuario?');"><i class="fa fa-trash-o"></i></a></td>
									#{/if}	
									#{else}
										<td class="text-center"><button disabled="disabled" class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#editarPersonal" id="${usuario.id}" onclick="pasarDatos(this)"><i class="fa fa-pencil"></i></button></td>								
										<td class="text-center"><a disabled="disabled" class="btn btn-warning btn-block" onclick="return confirm('¿Está seguro que desea reestablecer la contraseña de este usuario?');" href="@{Usuarios.resetearPasswordPersonal(usuario.id)}"><i class="fa fa-refresh"></i></a></td>	
										<td class="text-center"><a  disabled="disabled" class="btn btn-danger btn-block" onclick="return confirm('¿Está seguro que desea eliminar los datos de este usuario?');"><i class="fa fa-trash-o"></i></a></td>
									
									#{/else}						
								</tr>
							
								
								%{i++;}%			
						#{/list}
					
		</table>
		#{/if}
		#{else}
				<div class="alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> </span>
					&nbsp; No se encontraron Usuarios
				</div>
		#{/else}
				
				
<script>
	
	
	function cargarRoles(){
		//quitando mensajes de error de las validaciones
		  $("label.error").hide();
		  $(".error").removeClass("error");
		  
		  //reseteando el listado de roles
		  $("#rolNuevo").empty();
			
		  var roles = document.getElementById('rolNuevo');
				  
		var option;
		option = document.createElement("option");
		option.text = "--Seleccione--";		
		option.value="";
		roles.add(option);
			
		  #{list items:roles,as:'rol'}	
			var option = document.createElement("option");
			option.text = "${rol.descripcion}";		
			option.value="${rol.id}";
			roles.add(option);				
		 #{/list}
		
	}
	
	function pasarDatos(btn){
		
		//quitando mensajes de error de las validaciones
		  $("label.error").hide();
		  $(".error").removeClass("error");
		
		  
		  
		#{list items:usuarios,as:'usuario'}
			
			if(btn.id==${usuario.id}){
				//alert("${usuario.nombre}");
				$("#idUsuarioEdit").val("${usuario.id}");
				
				$("#apellidosEdit").val(decodificarEntidades("${usuario.apellido}"));
				
				$("#nombresEdit").val(decodificarEntidades("${usuario.nombre}"));				
				$("#emailEdit").val("${usuario.email}");
				
				
				$('#estadoEdit').prop('checked', ${usuario.activo});
				
				$('#rolEdit').empty();
				
				var roles = document.getElementById('rolEdit');
									
				#{list items:roles,as:'rol'}				
					var option = document.createElement("option");
					option.text = "${rol.descripcion}";		
					option.value="${rol.id}";
					
					if(option.value=="${usuario.rol.id}"){
						option.selected=true;
					}
					roles.add(option);	
					
				#{/list}
				
				
				
				
			}
			
		#{/list}
	}

			

</script>
				

<!-- Modal -->
<div id="editarPersonal" class="modal fade" role="dialog">


	<br />
	<br />
	<br />
	<br />
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <br />
        <img src="@{'/public/images/formatoAdministracionUsuario.png'}" alt=""  class="img-responsive btn-block"/>
      </div>
      
    <form action="@{Usuarios.actualizarPersonal}" method="POST" class="formActualizacion">	
	      <div class="modal-body">
	      	<input type="hidden" id="idUsuarioEdit" name="idUsuario" />
	      	
	      	<br /> <b>Apellidos:</b>
	        <input type="text" class="form-control" id="apellidosEdit"  name="apellido"/>
	    	<br /><b> Nombres:</b>
	        <input type="text" class="form-control" id="nombresEdit" name="nombre" />
	        <br /><b>Email:</b>
	        <input type="text" class="form-control" id="emailEdit" name="email"/>
	        <br /><b>Rol:</b>
	        <select name="idRol" id="rolEdit" class="form-control">
	        	
	        </select>
	        <br /><b>Estado:</b> <br />
	        <input type="checkbox" name="estado" id="estadoEdit"> Activo</td>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="submit" class="btn btn-success" >Aceptar</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	      </div>
	  </form>
    </div>

  </div>
</div>






<!-- Modal -->
<div id="nuevoPersonal" class="modal fade" role="dialog">


	<br />
	<br />
	<br />
	<br />
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <br />
        <img src="@{'/public/images/formatoAdministracionUsuario.png'}" alt=""  class="img-responsive btn-block"/>
      </div>
      
    <form action="@{Usuarios.guardarPersonal}" method="POST" class="formNuevo">	
	      <div class="modal-body">	      	
	      	
	      	<br /> <b>Apellidos:</b>
	        <input type="text" class="form-control"  name="apellido" />
	    	<br /><b> Nombres:</b>
	        <input type="text" class="form-control"  name="nombre" />
	        <br /><b>Email:</b>
	        <input type="text" class="form-control"  name="email" id="email"/>
	        <br /><b>Rol:</b>
	        <select name="idRol"  class="form-control" id="rolNuevo">
	        	
	        </select>
	        
	      </div>
	      <div class="modal-footer">
	      	<button type="submit" class="btn btn-success" >Aceptar</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	      </div>
	  </form>
    </div>

  </div>
</div>



<script>
	
	
	$(document).ready(function(){
		
		
		// validando formulario	de actualizacion
		$(".formActualizacion").validate({
			
			rules: {
				apellido:{
					required: true,
					lettersonly: true
					},
				nombre:{required: true},
				email: {
						required: true,
						email: true,
				      	remote: {
					        url: "@{Usuarios.verificarEmail}",
					        type: "post",
					        data: {
						          email: function() {						        	  
						            return $("#emailEdit").val();
					              },
					              idUsuario:function(){
					            	  return $("#idUsuarioEdit").val();
					              }
						        }
				      		}
						}				
			},	
		
			messages: {
				
				apellido: {
					required: "Ingrese los apellidos."
			
				},
				
				nombre:{
					required: "Ingrese los nombres.",					
				},
				
				email: {
					required: "Ingrese el email.",	
					email:"Ingrese una dirección de email valida.",
					remote:"Está dirección de email ya está en uso."
					
				}
					
			}
				
		});
		
		
		
		
		//validando el formulario de nuevo		
		$(".formNuevo").validate({
			
			rules: {
				apellido:{
					required: true,
					lettersonly: true
					},
				nombre:{required: true},
				email: {
						required: true,
						email: true,
				      	remote: {
					        url: "@{Usuarios.verificarEmailNuevo}",
					        type: "post",
					        data: {
						          email: function() {						        	  
						            return $("#email").val();
					              }
						        }
				      		}
						},
				idRol:{
					required:true
				}
			},	
		
			messages: {
				
				apellido: {
					required: "Ingrese los apellidos."
			
				},
				
				nombre:{
					required: "Ingrese los nombres.",					
				},
				
				email: {
					required: "Ingrese el email.",	
					email:"Ingrese una dirección de email valida.",
					remote:"Está dirección de email ya está en uso."
					
				},				
				idRol:{
					required:"Seleccione un rol para este usuario."
				}
			}
				
		});
		
		
	});


</script>


 <script>
 
	 var decodificarEntidades = function (tx)
	 {
	 	var rp = String(tx);
	 	//
	 	rp = rp.replace(/&aacute;/g, 'á');
	 	rp = rp.replace(/&eacute;/g, 'é');
	 	rp = rp.replace(/&iacute;/g, 'í');
	 	rp = rp.replace(/&oacute;/g, 'ó');
	 	rp = rp.replace(/&uacute;/g, 'ú');
	 	rp = rp.replace(/&ntilde;/g, 'ñ');
	 	rp = rp.replace(/&uuml;/g, 'ü');	 	
	 	//
	 	rp = rp.replace(/&Aacute;/g, 'Á');
	 	rp = rp.replace(/&Eacute;/g, 'É');
	 	rp = rp.replace(/&Iacute;/g, 'Í');
	 	rp = rp.replace(/&Oacute;/g, 'Ó');
	 	rp = rp.replace(/&Uacute;/g, 'Ú');
	 	rp = rp.replace(/&Ñtilde;/g, 'Ñ');
	 	rp = rp.replace(/&Üuml;/g, 'Ü');
	 	//
	 	return rp;
	 };
 
 </script>
