#{extends 'main.html' /}
#{set title:'Inicio' /}




<div class="encabezado">

	<div class="container">
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs">	
			<img src="@{'/public/images/logo-utc-2.png'}" alt="" class="img-responsive" style="margin-left: -20px;"/>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
		
				
				<div class="visible-xs" style="margin-bottom: 12px;">
					<center>
						<h4 >Dirección de Posgrados</h4>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-facebook"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-youtube"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-twitter"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-google-plus"></i></a>
					</center>	
										
				</div>				
				
				<div class="hidden-xs pull-right">					
					<h2> Dirección de Posgrados </h2>
					<div class="pull-right">
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-facebook"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-youtube"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-twitter"></i></a>
						<a href="" class="btn btn-default" style="color: black"><i class="fa fa-google-plus"></i></a>
					</div>	
					
							
				</div>

		</div>
		
	</div>

</div>

<div class="encabezado2">

</div>


<div id="myCarousel">	
  <div class="image-viewer-base-image" style="background: url('/public/images/carousel/UTCNOCHE.jpg');"></div>
  <div class="image-viewer-base-image" style="background: url('/public/images/carousel/SALACHE.jpg');"></div>
  <div class="image-viewer-base-image" style="background: url('/public/images/carousel/COTOPAXI.jpg');"></div>
</div>


#{noticias /}
	
	<br />


		<div class="well col-lg-12" style="margin-bottom: 30px;">
		
		Bienvenido a nuestro Sitio Web
		MISIÓN
		La Universidad Técnica de Cotopaxi, forma profesionales humanistas con pensamiento crítico y responsabilidad social, de alto nivel académico, científico y tecnológico con liderazgo y emprendimiento, sobre la base de los principios de solidaridad, justicia, equidad y libertad; genera y difunde el conocimiento, la ciencia, el arte y la cultura a través de la investigación científica y la vinculación con la sociedad parar contribuir a la transformación económica-social del país.
		VISIÓN
		Será un referente regional y nacional en la formación, innovación y diversificación de profesionales acorde al desarrollo del pensamiento, la ciencia, la tecnología, la investigación y la vinculación en función de la demanda académica y las necesidades del desarrollo local, regional y del país.
		
		</div>

	
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	

<script>

	YUI({ filter: 'raw' }).use('aui-carousel', function(Y) {

	    new Y.Carousel({
	        contentBox: '#myCarousel',
	        height:350,
	        activeIndex: 0,        
	        pauseOnHover: true
	    }).render();
	
	});
</script>
