#{extends 'main.html' /}
#{set title:'Noticias' /}



#{encabezado titulo:'Noticias' /}





<br />

<div class="well">					
	<div class="panel-body" > 	
						
			<img src="@{Application.verImagenNoticias(noticia.id)}" alt="" class="img-responsive col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 15px;" />
			
			<p class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
			
						<div class="hidden-xs">
					 		<h4> <b> ${noticia.titulo}</b></h4>
					 	</div>
					 	
					 	<div class="visible-xs">
					 		<center><h4> <b> ${noticia.titulo}</b></h4></center>
					 	</div>
					 	
					 	<p class="text-justify">
								${noticia.contenido}
						</p>
						  
						<hr />
						  
						<div class="pull-right" style="margin-top: -15px;">
							<b>Publicado por:</b> ${noticia.autor.nombre} ${noticia.autor.apellido} <br />
							<b>Fecha y Hora:</b> ${noticia.fecha} 
							<br />
							<a href="@{Noticias.eliminar(noticia.id)}" class="btn btn-danger">Eliminar</a>
							
						</div>
			 </p><!-- col-lg-8 -->				  
	</div> <!-- panel-body -->
</div><!-- panel -->
#{noticias /}
<br />

<style>

	hr{border: 1px solid #999;}
	
</style>