#{extends 'main.html' /}
#{set title:'programa.html' /}

<br />
<legend>Nombre:</legend>
<h1>${programa.nombre}</h1>


<legend>Objetivo:</legend>
${programa.objetivo}

<br /><br />

<legend>Perfil Ocupacional</legend>
${programa.perfilOcupacional}




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />